@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


:root {
  --font-family-main: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  display: flex;
  flex-direction: column;
  margin: auto;
  min-height: 100vh;
  background: #F7F7F7;
}



